button{
	background-color: #FCA806;
	padding: 5% 15%; 
	border-style: none;
	margin-top: 20%;
	margin-left: 20%;
}
.logo{
	width: 95%;
	height: 75%;
	margin-top: 8%;
}
ul{
	list-style: none;
	margin-top: 10%;
}
.m{
	display: inline-block;
	margin-left: 5%;
	font-family: Arial;
}
.bg{
	background-image: url("../img/grupal.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 650px;
}
.pq{
	width: 100%;
	margin-top: 20%;
}
p{
	font-family: Arial;
}
footer{
	padding: 2% 15%;
	background-color: #4A4A4A;
	color: white;
}
.mgb{
	margin-bottom: 5%;
}
a{
	text-decoration: none;
	color: black;
}
.l img {
-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}
.l img:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}